-- nickname maximum lengt of nickname is 9 chars

-- Channels names are strings (beginning with a '&' or '#' character) of
   length up to 200 characters.  Apart from the the requirement that the
   first character being either '&' or '#'; the only restriction on a
   channel name is that it may not contain any spaces (' '), a control G
   (^G or ASCII 7), or a comma (',' which is used as a list item
   separator by the protocol). The channel is created
   implicitly when the first client joins it, and the channel ceases to
   exist when the last client leaves it

-- The current server allows any registered local user to join upto 10
   different channels

--  A channel operator is identified by the '@' symbol next to their
   nickname whenever it is associated with a channel

--  MESSAGE SIZE Max 512 bytes total

--  IRC MESSAGE STRUCTURE: OVERVIEW
    Each IRC message is composed of:
    Optional prefix (starts with :)
    Command (text like PRIVMSG, JOIN, or a 3-digit numeric like 001)
    Up to 15 parameters
    All parts are separated by spaces (0x20)
    The whole message ends with CRLF (\r\n)
    Total length ≤ 512 characters, including \r\n     


-- If the server recieves an identical NICK from a client which is
   directly connected, it may issue an ERR_NICKCOLLISION to the local
   client, drop the NICK command


:nick command p[1 - 12] :p with spaces